<template>
        <window id="about" title="About ColeOS">
            <table width="100%" cellspacing="20px">
                <tr>
                    <td width="40%">
                        <img src="/static/assets/img/profile.jpg"/>
                    </td>
                    <td align="center" valign="top">
                        <p align="left">
                            <h2>coleOS</h2>
                            <table >
                                <tr>
                                    <td><b>Frontend</b></td><td>VueJS 2</td>
                                </tr>
                                <tr>
                                    <td><b>Backend</b></td><td>PHP7 w/ Laravel</td>
                                </tr>
                            </table>
                        <br/><br/>
                        <div class="footer">The interface for this website was inspired by and shamelessly stolen from <a href="http://jasonpark.me" target="_top">http://jasonpark.me/</a>.<br/>Without that site, this one would not exist. </div>
                            <b></b>
                        </p>
                    </td>
                </tr>
            </table>
        </window>
</template>

<script>
    import Window from '@/components/Window'
    export default {
        name: 'About',
        components: { Window },
        mounted () {

        },
        data () {
            return {
                msg: ''
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
