<template>
        <window id="browser" title="ColeBrowser" style="width:900px">
            <table width="100%" height="100%" cellspacing="10px">
                <tr>
                    <td width="200px">
                        <font size="4" align="center">History</font>
                        <hr/>
                        <div style="overflow-y: auto; height:500px; display:inline-block">
                            <ul>
                                <li @click="viewBookmark(favorite)" v-for="favorite in favorites.data" v-if="favorite.resolved_title">
                                    <span v-if="favorite.image && favorite.image.src">
                                        <img class="favorite-thumbnail" v-bind:src="favorite.image.src"/>
                                    </span><span>{{favorite.resolved_title}}</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td width="*" valign="top">
                        <iframe ref='iframe' style="height: 100%; width:100%; border: none" src=""></iframe>
                    </td></tr>
            </table>


        </window>
</template>

<script>
    import axios from 'axios'
    import Window from '@/components/Window'
    import lifeos from '@/lifeos'
    export default {
    name: 'Browser',
    data () {
      return {
        base_url: '',
        iframe: null,
        favorites: "",
        url: "",
        activeFavorite: {
            resolved_url : null,
            resolved_title: null
        }
      }
    },
    mounted () {
        this.iframe = this.$refs['iframe'];
        this.getFavorites();
    },
    components: { Window },
    methods: {
      getFavorites: function () {
          var self=this;
          axios.get(lifeos.base_url + "life/public/pocket/list")
              .then(function (response) {
                  self.favorites = response;
                  console.log(response);
              })
              .catch(function (error) {
                  console.log(error);
              });
      },
      viewBookmark: function (favorite) {
        this.activeFavorite = favorite;
        this.loadUrl(favorite.resolved_url);
      },
        injectHtml: function (html) {
            this.iframe.src = 'about:blank';
            this.iframe.contentWindow.document.open();
            this.iframe.contentWindow.document.write(html.replace(/<head>/i, '<head><base href="' + this.activeFavorite.resolved_url + '"><scr' + 'ipt>document.addEventListener("click", function(e) { if(e.target && e.target.nodeName == "A") { e.preventDefault(); parent.loadURL(e.target.href); } });</scr' + 'ipt>'));
            this.iframe.contentWindow.document.close();
        },
      loadUrl: function (url) {
          var self = this;
          axios.get('http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20data.headers%20where%20url%3D%22' + encodeURIComponent(url) + '%22&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys')
              .then(function (data) {
                  if (data.data)
                      data = data.data;
                  if (data && data.query && data.query.results && data.query.results.resources && data.query.results.resources.content && data.query.results.resources.status == 200){
                      self.injectHtml(data.query.results.resources.content);
                  }
                  else if (data && data.error && data.error.description)
                      self.injectHtml(data.error.description);
                  else self.injectHtml('Error: Cannot load ');
              })
              .catch(function (error) {
                  console.log(error);
              });
      }
    }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
ul {
    list-style-type: none;
    width: 100%;
}
li {
    text-align:left;
    margin-bottom:20px;
    margin-right:10px;
    width: 100%;
    border: 1px solid;
    &:hover {
         background-color: rgba(black, .2);
     }
}
iframe {
    height:100vh
}
    .favorite-thumbnail {
        max-width: 50px;
        max-height: 50px;
    }
</style>
