<template>
        <window id="caleb" title="Caleb">
            Caleb content
        </window>
</template>

<script>
    import Window from '@/components/Window'
    export default {
        name: 'Caleb',
        components: { Window },
        data () {
            return {
                msg: ''
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
