<template>
        <window id="crypto" title="Crypto" style="width:300px">
            <button @click="getCrypto">Update</button>
            <div v-if="output" id="coindiv">
                <table align="center" style="height:400px;overflow:auto" cellpadding="5px">
                    <tr align="left">
                        <td>Coin</td>
                        <td>Value</td>
                        <td>1 Day</td>
                        <td>1 Week</td>
                    </tr>
                    <tr  align="left" v-for="coin in output.data">
                        <template v-if="mycoins.indexOf(coin.symbol) != -1">
                            <td><b>{{coin.symbol}}</b></td>
                        <td>{{coin.price_usd}}</td>
                        <td>
                            <font v-if="coin.percent_change_24h > 0" color="green">
                                {{coin.percent_change_24h}}%
                            </font>
                            <font v-else color="red">
                                {{coin.percent_change_24h}}%
                            </font>
                        </td>

                        <td>
                            <font v-if="coin.percent_change_7d > 0" color="green">
                                {{coin.percent_change_7d}}%
                            </font>
                            <font v-else color="red">
                                {{coin.percent_change_7d}}%
                            </font></td>
                        </template>
                    </tr>
                </table>
                <div>{{output}}</div>
            </div>
        </window>
</template>

<script>
    import axios from 'axios'
    import Window from '@/components/Window'
    import lifeos from '@/lifeos'
    export default {
    name: 'Crypto',
    data () {
      return {
        base_url: 'https://api-v2.soundcloud.com/stream?device_locale=en&user_urn=soundcloud%3Ausers%3A321846&promoted_playlist=true&client_id=ERUei0VOqA14L7FOl4Kxu7tJ7hG1DMf6&limit=1000&offset=0&linked_partitioning=1&app_version=1510677608',
        output: null,
        mycoins: ['NXT','DOGE',	'BTS',	'ETC',	'GNT',	'DGB',	'SC',	'ARDR',	'SJCX',	'ADX',	'DASH',	'STRAT','LSK','XMR','BTC','NEO','LTC','POWR',	'ETH'],
        testin: "BTC"
      }
    },
    mount ()  {
        this.getCrypto();
    },
    components: { Window },
    methods: {
        getCrypto: function () {
            var self=this;
            axios.get("https://api.coinmarketcap.com/v1/ticker/")
                .then(function (response) {
                    self.output = response;
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
      }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scope$>
#coindiv {
    display: inline-block;
    overflow: auto;

}
</style>
