<template>
    <div class="menubar">
        <div class=" label-profile">
                <hsc-menu-style-white>
                    <hsc-menu-bar style="border-radius: 0 0 4pt 0;">
                        <hsc-menu-bar-item label="File">
                            <hsc-menu-item label="New" @click="window.alert('New')" />
                            <hsc-menu-item label="Open" @click="window.alert('Open')" />
                            <hsc-menu-separator/>
                            <hsc-menu-item label="Save" @click="window.alert('Save')" :disabled="true" />
                            <hsc-menu-item label="Export to">
                                <hsc-menu-item label="PDF" />
                                <hsc-menu-item label="HTML" />
                            </hsc-menu-item>
                        </hsc-menu-bar-item>
                        <hsc-menu-bar-item label="Edit">
                            <hsc-menu-item label="Undo" keybind="meta+z" @click="window.alert('Undo')" />
                            <hsc-menu-separator/>
                            <hsc-menu-item label="Cut" keybind="meta+x" @click="window.alert('Cut')" />
                            <hsc-menu-item label="Copy" keybind="meta+c" @click="window.alert('Copy')" />
                            <hsc-menu-item label="Paste" keybind="meta+v" @click="window.alert('Paste')" :disabled="true" />
                        </hsc-menu-bar-item>
                    </hsc-menu-bar>
                </hsc-menu-style-white>
            <div class="name">coleOS</div>
        </div>
        
        <div class="label label-clock">
            <div class="name"></div>
        </div>
    </div>
</template>

<script>
    import EventBus from '@/components/EventBus'
    export default {
        name: 'Menubar',
        data () {
          return {
            title: '',

          }
        },
        methods: {
            restore: function (window) {
                console.log('sending event from taskbar to window ', window);
                EventBus.$emit("taskbar-restored-" + window, null);
                //document.getElementById(window).style.visibility = 'visible';
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    $font-size-large: 1.2rem;
    $font-size-normal: 1rem;
    $font-size-small: .8rem;
    $taskbar-height: 1.5rem;
    $anim-duration: .2s;
    $toolbar-height: 2.8rem;
    $theme-color: #3D3D3D;
    .menubar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        height: $taskbar-height;
        display: flex;
        align-items: stretch;
        box-sizing: border-box;
        /*background-color: rgba(black, .2);*/
        flex-shrink: 0;
        background-color: #DDD;
        text-align: left; 
        flex-direction: column;
        border-bottom: solid 1px #CCC;
        overflow: hidden;

    .label {
        display: flex;
        align-items: left;
        background-color: rgba(black, .2);
        padding: 0 1rem;
        white-space: nowrap;

    .label-profile {
     }

    .label-clock {
     }

    .icon-profile {
         background-image: url("/static/assets/img/profile.jpg");
     }

    .icon {
        height: 2rem;
        width: 2rem;
        background-position: center;
        background-size: cover;
        margin-right: .5rem;
        border-radius: .2rem;
    }

    .name {
        font-size: $font-size-small;
        color: white;
    }
    }

    .icon-terminal {
        background-image: url("/static/assets/img/icons/terminal.png");
    }

    .icon-browser {
        background-image: url("/static/assets/img/icons/browser.png");
    }

    .icon-spotify {
        background-image: url("/static/assets/img/icons/spotify.png");
    }

    .icon-soundcloud {
        background-image: url("/static/assets/img/icons/soundcloud.svg");
    }
    .icon-crypto {
        background-image: url("/static/assets/img/icons/crypto.png");
    }
    .icon-caleb {
        background-image: url("/static/assets/img/icons/caleb.png");
    }
    .shortcut-container {
        flex: 1;
        display: flex;
        overflow-x: auto;

    .shortcut {
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        box-sizing: border-box;
        overflow: hidden;
        transition: max-width $anim-duration,
        opacity $anim-duration,
        background-color $anim-duration;

    .icon {
        height: 2.2rem;
        width: 2.2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 1rem;
    }

    .name {
        display: none;
    }

    &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         border-bottom: solid 3px white;
         opacity: 0;
         transition: opacity $anim-duration;
     }

    &:hover {
         background-color: rgba(black, .2);
     }

    &:active {
         background-color: rgba(black, .4);
     }

    &.active {
    &:after {
         opacity: 1;
     }
    }

    &.hidden {
         max-width: 0;
         opacity: 0;

    &.active {
         max-width: 4.2rem;
         opacity: 1;
     }
    }
    }
    }
    }
</style>
