<template>
        <window id="soundcloud" title="Soundcloud" style="height:750px">

            <div id="soundcloud_player">
                <iframe v-if="iframe_src" width="100%" height="200" scrolling="no" frameborder="no" :src="iframe_src"/>
            </div>
            <div class='toolbar' style="text-align: left">
                <select v-model="desired_type">
                    <option value="track">tracks</option>
                    <option value="mix">mixes</option>
                </select>
            </div>
            <div v-if="stream" id="stream">
                    <div v-for="song in stream" v-if="shouldShowSong(song)" class="song">
                        <img :src="song.track.artwork_url" v-if="song.track && song.track.artwork_url" class="songart" @click="chooseSong(song)"/><br/>
                        {{song.likeratio}}%  ({{song.track.likes_count}} / {{song.track.playback_count}})<br/>

                        {{song.user.username}}-{{song.track.title}}
                    </div>
            </div>
        </window>
</template>

<script>
    import Window from '@/components/Window'
    import stream from '@/components/apps/soundcloud/stream'
    import _ from 'underscore'
    export default {
        name: 'Soundcloud',
        components: { Window },
        data () {
            return {
                msg: '',
                chosen_id: null,
                stream: null,
                desired_type: 'track'
            }
        },
        mounted () {
          this.stream = _.map(stream.collection, function(song) {
              if (song && song.track) {
                  song.likeratio = (song.track.likes_count / song.track.playback_count).toFixed(2) * 100;
                  return song;
              }

          } );
          this.stream = _.sortBy(this.stream, 'likeratio').reverse();
        },
        methods: {
            chooseSong: function(song) {
              this.chosen_id = song.track.id;
            },
            shouldShowSong: function(song) {
                if ( song && song.track &&
                    ( (this.desired_type == 'track' && song.track.duration < 600000) ||
                       (this.desired_type == 'mix' && song.track.duration >= 600000)
                    ) ) {
                    return true;
                }
                return false;
            }
        },
        computed: {
            iframe_src: function () {
                if (!this.chosen_id) {
                    return null;
                }
                return "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/" + this.chosen_id + "&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true";
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .toolbar {
        display: inline-block;
    }
 .song {
     display: inline-block;
     height: 200px;
     width: 125px;
     border: 1 solid;
     vertical-align: top;

 }
 .songart {
     /*position: absolute;*/
 }
 #stream {
  width: 100%;
  height: 100vh;
  display: inline-block;
  overflow: auto;
     font-size: 10px;
 }
</style>
