<template>
        <window id="spotify" title="Spotify" style="width:300px; height: 380px">
            <iframe src="https://open.spotify.com/embed/user/colecut/playlist/1RKNCINRJKbDDzvyiAu41x" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
        </window>
</template>

<script>
    import Window from '@/components/Window'
    export default {
        name: 'Spotify',
        components: { Window },
        data () {
            return {
                msg: ''
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    iframe {
        height: 100vh
    }
</style>
