f<template>
    <div class="taskbar">
        <div class="label label-profile" @click="restore('about')">
            <div class="icon icon-profile"></div>
            <div class="name">colecut</div>
        </div>
        <div class="shortcut-container">
            <a class="shortcut" href="#terminal" @click="restore('terminal')">
                <div class="icon icon-terminal"></div>
                <div class="name">Terminal</div>
            </a>
            <a class="shortcut" href="#browser" @click="restore('browser')">
                <div class="icon icon-browser"></div>
                <div class="name">Browser</div>
            </a>
            <a class="shortcut" href="#spotify" @click="restore('spotify')">
                <div class="icon icon-spotify"></div>
                <div class="name">Spotify</div>
            </a>
            <a class="shortcut" href="#soundcloud" @click="restore('soundcloud')">
                <div class="icon icon-soundcloud"></div>
                <div class="name">Soundcloud</div>
            </a>
            <a class="shortcut" href="#crypto" @click="restore('crypto')">
                <div class="icon icon-crypto"></div>
                <div class="name">Crypto</div>
            </a>
            <a class="shortcut" href="#caleb" @click="restore('caleb')">
                <div class="icon icon-caleb"></div>
                <div class="name">Caleb</div>
            </a>
        </div>
        <div class="label label-clock">
            <div class="name"></div>
        </div>
    </div>
</template>

<script>
    import EventBus from '@/components/EventBus'
    export default {
        name: 'Taskbar',
        data () {
          return {
            title: '',

          }
        },
        methods: {
            restore: function (window) {
                console.log('sending event from taskbar to window ', window);
                EventBus.$emit("taskbar-restored-" + window, null);
                //document.getElementById(window).style.visibility = 'visible';
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    $font-size-large: 1.2rem;
    $font-size-normal: 1rem;
    $font-size-small: .8rem;
    $taskbar-height: 3rem;
    $anim-duration: .2s;
    $toolbar-height: 2.8rem;
    $theme-color: #3D3D3D;
    .taskbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        height: $taskbar-height;
        display: flex;
        align-items: stretch;
        box-sizing: border-box;
        background-color: rgba(black, .2);

    .label {
        display: flex;
        align-items: center;
        background-color: rgba(black, .2);
        padding: 0 1rem;
        white-space: nowrap;

    .label-profile {
     }

    .label-clock {
     }

    .icon-profile {
         background-image: url("/static/assets/img/profile.jpg");
     }

    .icon {
        height: 2rem;
        width: 2rem;
        background-position: center;
        background-size: cover;
        margin-right: .5rem;
        border-radius: .2rem;
    }

    .name {
        font-size: $font-size-small;
        color: white;
    }
    }

    .icon-terminal {
        background-image: url("/static/assets/img/icons/terminal.png");
    }

    .icon-browser {
        background-image: url("/static/assets/img/icons/browser.png");
    }

    .icon-spotify {
        background-image: url("/static/assets/img/icons/spotify.png");
    }

    .icon-soundcloud {
        background-image: url("/static/assets/img/icons/soundcloud.svg");
    }
    .icon-crypto {
        background-image: url("/static/assets/img/icons/crypto.png");
    }
    .icon-caleb {
        background-image: url("/static/assets/img/icons/caleb.png");
    }
    .shortcut-container {
        flex: 1;
        display: flex;
        overflow-x: auto;

    .shortcut {
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        transition: max-width $anim-duration,
        opacity $anim-duration,
        background-color $anim-duration;

    .icon {
        height: 2.2rem;
        width: 2.2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 1rem;
    }

    .name {
        display: none;
    }

    &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         border-bottom: solid 3px white;
         opacity: 0;
         transition: opacity $anim-duration;
     }

    &:hover {
         background-color: rgba(black, .2);
     }

    &:active {
         background-color: rgba(black, .4);
     }

    &.active {
    &:after {
         opacity: 1;
     }
    }

    &.hidden {
         max-width: 0;
         opacity: 0;

    &.active {
         max-width: 4.2rem;
         opacity: 1;
     }
    }
    }
    }
    }
</style>
