<template>
  <window @keyup.native="type" ref='terminal' id="terminal"  class='focus' title="Terminal">
    
      <div class='line' v-for="line in buffer">{{line}}</div>
      <div class='line'><div class="letter cursor"></div></div>
      <input class='interceptor'></div>
      
  </window>
</template>

<script>
import Window from '@/components/Window'
export default {
  name: 'Terminal',
  components: { Window },
  data () {
    return {
      buffer: ['', ''],
      current: ''
    }
  }, 
  mounted () {
    console.log(this.$refs['terminal']);
    window.addEventListener('keyup', function(event) {
        console.log(event);
    });
  },
  methods: { 
    type: function(event) {
        console.log(event.key);
       if(event.key == "Enter")
       {
         console.log("enter key was pressed!");
       } else {
         this.current = this.current + event.key;
       }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .interceptor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    
  #terminal {
    
    background: none;
    background-color: rgba(black, .9);

  &.focus {
  .content {
    
  .line {
  .letter {
  &.cursor {
     border: none;
     margin: 0;
     background-color: #2FCB29;
     color: black;
  @keyframes blink {
    from {
      background-color: #2FCB29;
      color: black;
    }
    50% {
      background-color: black;
      color: #2FCB29;
    }
  }
  animation: blink 1s 1s infinite step-end;
  }
  }
  }
  }
  }
    
    

  .content {
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(black, .9);
    padding: .2rem;
    overflow-y: auto;

  .line {
    flex-shrink: 0;
    font-family: 'Roboto Mono', sans-serif;
    color: #2FCB29;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-all;

  &.word-break {
     word-break: normal;
   }

  &:empty {
  &:before {
     content: '\00a0';
   }
  }

  .letter {
    padding: 0;
    margin: 0;
    white-space: pre;

  &.cursor {
     border: solid 1px #2FCB29;
     margin: -1px;
     box-sizing: border-box;

  &:empty {
  &:before {
     content: '\00a0';
   }
  }
  }
  }
  }
  }
  }
</style>
