<template>
    <div v-bind:class="{ focus: isFocused, maximize: isMaximized }" class="window" ref="window" v-bind:style="windowStyle">
        <div class="toolbar" @mousedown="startDrag">
            <div class="button-container">
                <a class="button button-close" href="#" @click="close"></a>
                <a class="button button-minimize" href="#" @click="close"></a>
                <a class="button button-maximize" href="#" @click="maximize"></a>
            </div>
            <div class="title-container">
                <div class="icon" ref="icon"></div>
                <div class="name">{{title}}</div>
                <!--<div class="opacity-control">
                    <circle-slider
                            :side="50"
                            :min="0.1"
                            :max="1"
                            :step-size="0.05"
                            :circle-width-rel="20"
                            :progress-width-rel="10"
                            :knob-radius="10"
                            v-model="windowStyle.opacity">hi theresdfsf<br/>
                    </circle-slider>

                    </div>-->
            </div>
        </div>
        <div class="content">
            <slot></slot>
        </div>
        <div class="border border-top"></div>
        <div class="border border-bottom"></div>
        <div class="border border-left"></div>
        <div class="border border-right"></div>
        <div class="border border-top border-left"></div>
        <div class="border border-top border-right"></div>
        <div class="border border-bottom border-right" @click="startResize"></div>
        <div class="border border-bottom border-left"></div>
    </div>
</template>

<script>
    import EventBus from '@/components/EventBus'

    export default {
    name: 'Window',
    props: ['title'],

    data () {
      return {
        sliderValue: 100,
        isFocused: true,
        isMaximized: false,
        windowStyle: {
          left: '50px',
          top: '50px',
          width: '800px',
          height: '500px',
          visibility: 'hidden',
          opacity: 0.825
        },
        preDrag: {
            left: 0,
            top: 0
        }
      }
    },
    mounted () {
        //Get Window Id
        var id = (this.$refs['window'].id);
        //Dynamically Set Icon
        //console.log('id is ', id);
        //console.log(this.$refs['icon'].style);
        if (id == 'soundcloud') {
            var ext = '.svg';
        } else {
            var ext = '.png';
        }

        var string =  "url('/static/assets/img/icons/'" + id + "'.png')";
        console.log('string ', string);
        this.$refs['icon'].style.backgroundImage = "url('/static/assets/img/icons/" + id + ext + "')";
        console.log(this.$refs['icon'].style.backgroundImage);

        //Setup Even Listeners

        EventBus.$on('taskbar-restored-' + id, (someData) => {
            console.log('event made it to window!', id);
            this.restore();
        })
    },
    methods: {
        minimize: function () {
            console.log('minimize');
        },
        maximize: function () {
            console.log('maximize');
            if (this.isMaximized) {
                this.isMaximized = false;
            } else {
                this.isMaximized = true;
            }
        },
        restore: function() {
            console.log('restore');
            this.windowStyle.visibility = 'visible';

        },
        close: function () {
            console.log('close');
            this.windowStyle.visibility = 'hidden';
        },
        startDrag: function (e) {
            e = e || window.event;
            this.preDrag.left = e.clientX;
            this.preDrag.top = e.clientY;
            document.onmouseup = this.stopDrag;
            document.onmousemove = this.drag;
        },
        startResize: function (e) {
            e = e || window.event;
            this.preDrag.left = e.clientX;
            this.preDrag.top = e.clientY;
            document.onmouseup = this.stopDrag;
            document.onmousemove = this.resize;
        },
        resize: function (e) {
            e = e || window.event;
            var pos1 = this.preDrag.left - e.clientX;
            var pos2 = this.preDrag.top - e.clientY;

            this.windowStyle.left = (parseInt(this.windowStyle.left.replace("px","")) - pos1) + "px";
            this.windowStyle.top = (parseInt(this.windowStyle.top.replace("px","")) -  pos2) + "px";

            this.preDrag.left = e.clientX;
            this.preDrag.top = e.clientY;

      },
        drag: function (e) {
            e = e || window.event;
            var pos1 = this.preDrag.left - e.clientX;
            var pos2 = this.preDrag.top - e.clientY;

            this.windowStyle.left = (parseInt(this.windowStyle.left.replace("px","")) - pos1) + "px";
            this.windowStyle.top = (parseInt(this.windowStyle.top.replace("px","")) -  pos2) + "px";

            this.preDrag.left = e.clientX;
            this.preDrag.top = e.clientY;

        },
      stopDrag: function () {
        document.onmousemove = null;
        document.onmouseup = null;
      }
    }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

    $font-size-large: 1.2rem;
    $font-size-normal: 1rem;
    $font-size-small: .8rem;
    $taskbar-height: 3rem;
    $anim-duration: .2s;
    $toolbar-height: 2.8rem;
    $theme-color: #3D3D3D;

    .window {
        position: absolute;
        background-color: black;
        color: white;
        box-shadow: 0 0 48px rgba(black, .3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;
        pointer-events: auto;
        /*visibility: hidden;
        opacity: 0;*/
        /*transition: top $anim-duration,
        left $anim-duration,
        width $anim-duration,
        height $anim-duration,
        opacity $anim-duration,
        visibility $anim-duration,
        box-shadow $anim-duration;*/
/*
    iframe {
        display: none;
    }
*/

    &.content {
        background-color: black;
     }
    &.focus {
    .content {
    .interceptor {
        display: none;
    }
    }
    }

    &.moving,
    &.resizing {
         transition: none;

    .content {
    .interceptor {
        display: block;
    }
    }
    }

    &.open {
         visibility: visible;
         opacity: 1;

    iframe {
        display: block;
    }

    .content {
        display: flex;
    }
    }

    &.no-toolbar {
    .toolbar {
        flex: 1;
        border-bottom: none;
        background: none;

    .title-container {
    width:100%;
    .name {
        color: #DDD;
    }
    }
    }

    .opacity-control {
        float: right;
        width: 100px
    }
    .content {
        position: absolute;
        top: $toolbar-height;
        bottom: 0;
        width: 100%;
        pointer-events: none;
        box-sizing: border-box;
    }
    }

    &.focus {
         box-shadow: 0 0 48px rgba(black, .4);

    .toolbar {
    .button-container {
    .button {
    &.button-close {
         background-color: #FC615D;
     }

    &.button-minimize {
         background-color: #FDBC40;
     }

    &.button-maximize {
         background-color: #34C749;
     }
    }
    }
    }
    }

    &.maximize {
         top: 0 !important;
         left: 0 !important;
         height: calc(100% - #{$taskbar-height}) !important;
         width: 100vw !important;
     }

    &.minimize {
         top: 100vh !important;
         opacity: 0;
     }

    .toolbar {
        flex-shrink: 0;
        background-color: #DDD;
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px #CCC;
        overflow: hidden;

    .button-container {
        position: absolute;
        padding: 1rem .8rem;
        display: flex;

    .button {
        background-color: #CCC;
        width: .8rem;
        height: .8rem;
        border: solid 1px rgba(black, .1);
        border-radius: .8rem;
        box-sizing: border-box;
        margin-right: .5rem;
        transition: background-color $anim-duration;

    &:last-child {
         margin-right: 0;
     }

    &:active {
         border-width: 2px;
     }
    }
    }

    .title-container {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .8rem 5rem;

    .icon {
        width: 1.2rem;
        height: 1.2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 1px #888);
        margin-right: .4rem;
    }

    .name {
        font-size: $font-size-small;
        color: #444;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
    }
    }

    .tab-container {
        align-self: stretch;
        margin-left: 5.8rem;
        display: flex;
        align-items: flex-end;
        height: $toolbar-height;

    .tab {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        height: 2rem;
        background-color: #DDD;
        margin-right: 1rem;
        filter: drop-shadow(0 0 1px #888);
        max-width: 12rem;
        padding: 0 .5rem;
        transition: background-color $anim-duration;

    .icon {
        width: 1.2rem;
        height: 1.2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 1px #888);
        margin-right: .4rem;
    }

    .name {
        flex: 1;
        font-size: $font-size-small;
        color: #444;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 0;
        margin-right: .4rem
    }

    .close {
        position: relative;
        color: #888;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color $anim-duration;

    &:after {
         content: '×';
     }

    &:before {
         content: '';
         position: absolute;
         z-index: -1;
         width: .8rem;
         height: .8rem;
         border-radius: .8rem;
         box-sizing: border-box;
         transition: background-color $anim-duration;
     }

    &:hover {
         color: #CCC;

    &:before {
         background-color: #FC615D;
     }
    }
    }

    &:before,
    &:after {
         position: absolute;
         content: '';
         top: 0;
         width: 0;
         height: 0;
         border-bottom: 2rem solid #DDD;
         transition: border-color $anim-duration;
     }

    &:before {
         left: -1rem;
         border-left: 1rem solid transparent;
     }

    &:after {
         right: -1rem;
         border-right: 1rem solid transparent;
     }

    &.active {
         z-index: 1;
         background-color: #CCC;

    &:before,
    &:after {
         border-bottom-color: #CCC;
     }
    }
    }
    }
    }

    .content {
        position: relative;
        flex: 1 0;
        overflow: hidden;
        /*display: none;*/

    .interceptor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    }

    $border-width: 4px;

    .border {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    &.border-top,
    &.border-bottom {
         height: $border-width;
         cursor: ns-resize;
     }

    &.border-top {
         bottom: auto
     }

    &.border-bottom {
         top: auto;
     }

    &.border-left,
    &.border-right {
         width: $border-width;
         cursor: ew-resize;
     }

    &.border-left {
         right: auto;
     }

    &.border-right {
         left: auto;
     }

    &.border-top.border-left,
    &.border-bottom.border-right {
         cursor: nwse-resize;
     }

    &.border-top.border-right,
    &.border-bottom.border-left {
         cursor: nesw-resize;
     }
    }
/*
    @import "directory";
    @import "browser";
    @import "paypal";
    @import "terminal";
    @import "attribution";
    @import "instagram";
    @import "version_history";
*/
    }

</style>
