<template>
  <div id="app">
    <img src="./assets/logo.png">
    <div>Hello</div>
    <div class="screen">
      <!--<Menubar></Menubar>-->
      <div class="desktop">
        <div class="video-background">
            <div class="video-foreground">
              <iframe src="https://www.youtube.com/embed/SlgkpkVpYYQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=SlgkpkVpYYQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        
        <div id="vidtop-content">
        <div class="vid-info">
        	  <h1>YouTube Fullscreen Background Demo</h1>
        	  <p>The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth.
             <p>Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/</p>
        	 <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
          </div>
        </div>
        
        <div class="app-container"></div>
        <div class="window-container">

          <!--<router-view/>-->
          <!--<rest></rest>-->
          <browser></browser>
          <terminal></terminal>
          <spotify></spotify>
          <soundcloud></soundcloud>
          <crypto></crypto>
          <caleb></caleb>
          <about></about>
        </div>
      </div>
      <Taskbar></Taskbar>
    </div>
  </div>
</template>

<script>
    import Taskbar from '@/components/Taskbar'
    import Menubar from '@/components/Menubar'
    import Rest from '@/components/Rest'
    import Browser from '@/components/Browser'
    import Terminal from '@/components/Terminal'
    import Spotify from '@/components/Spotify'
    import Soundcloud from '@/components/Soundcloud'
    import Crypto from '@/components/Crypto'
    import Caleb from '@/components/Caleb'
    import About from '@/components/About'
    export default {
      name: 'app',
      components: { Menubar, Taskbar, Rest, Browser, Terminal, Spotify, Soundcloud, Crypto, Caleb, About }

    }
</script>

<style lang="scss">
  body {
    /*background-color: black;*/
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  /* copied over from Parker */
  $font-size-large: 1.2rem;
  $font-size-normal: 1rem;
  $font-size-small: .8rem;
  $taskbar-height: 3rem;
  $anim-duration: .2s;
  $toolbar-height: 2.8rem;
  $theme-color: #3D3D3D;

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  * {
    outline: none;
  }

  /* @import "icon"; */

  .screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  .desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: $theme-color url(img/wallpaper.jpg) center;*/
    /*background: $theme-color url(components/Screen/wallpaper2.jpg) center;*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $taskbar-height;

  .github-corner {
  svg {
    fill: #E54E43;
    color: $theme-color;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
  }
  }

  .app-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 32rem;
    justify-content: center;
    overflow-y: auto;
    padding: 1rem;

  .app {
    position: relative;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .2rem;
    transition: background-color $anim-duration;

  &.link-external {
  .name {
    position: relative;

  &:after {
     position: absolute;
     content: '';
     display: inline-block;
     margin-left: .15rem;
     width: .8em;
     height: 100%;
     /* background: url(img/link-external.png) no-repeat bottom; */
     background-size: contain;
     opacity: .5;
   }
  }
  }

  .icon {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: .2rem;
    filter: drop-shadow(0 0 2px rgba(black, .5));
  }

  .name {
    font-size: $font-size-small;
    color: white;
    text-shadow: 0 0 4px black;
    text-align: center;
    height: 1em;
  }

  &:hover {
     background-color: rgba(black, .2);
     box-shadow: inset 0 0 2px rgba(black, .2);
   }

  &:active {
     background-color: rgba(black, .4);
     box-shadow: inset 0 0 2px rgba(black, .4);
   }
  }
  }

  .window-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    /* @import "window/index"; */
  }
  }

  /* @import "taskbar"; */
  }

  /*youtube bg stuff */
  * { box-sizing: border-box; }
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #vidtop-content {
  	top: 0;
  	color: #fff;
  }
  .vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
  .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
  .vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }
  @media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
  }
  @media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
  }


</style>
